body {
    background-color: #5e6063;
}
.menu {
    width: 500px;
    background-color: #5e6063;
    border-radius: 10px;
    padding: 10px 0;
}
img{
    height: 150px;
    width: 150px;
}
.item{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.item:hover {
    background-color: #534c4c;
}